<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="1">
    <test verbose="2" preserve-order="true" name="CreateUser">
        <classes>
            <class name="tests.UserIsSet.UserIsSetTest">
                <methods>
                    <include name="openBankPageAndCreateUser"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="SortNamesInList">
        <classes>
            <class name="tests.UserIsSet.UserIsSetTest">
                <methods>
                    <include name="sortCustomersByFirstName"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="DeleteUser">
        <classes>
            <class name="tests.UserIsSet.UserIsSetTest">
                <methods>
                    <include name="deleteUserFromTable"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>